window {
    border-width: 16px;
    border-style: solid;
    border-color: #0C0C0C;
    border-image: url("/home/max/dots/.config/wofi/menu.png") 16 stretch repeat;

    background: repeating-linear-gradient(
        to bottom,
        #0C0C0C,
        #0C0C0C 4px,
        #181818 4px,
        #181818 8px
    );

    font-family: "PixelHallfeticaJP10P", monospace;
}

#scroll{
    margin-bottom: 3px;
}


#input {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

#input:focus {
    box-shadow: none;
    outline: none;
    border: none;
}
